@charset "utf-8";

*{ margin: 0;
  padding: 0;
  font-family: 'AppleSDGothicNeoL';
} 

#topMenu {
        width: 100%;
        height: 150px;
        display: flex;
        text-align: center;
}

#topMenu button {
        border: none;
        outline: none;
        color: white;
}

#logo {
        width: 300px;
}

#nav {
        flex: 1;
}

#nav button {
        width: 100px;
        height: 46px;
        margin: 75px 12px 0 12px;
        border-radius: 25px;
        font-size: 12pt;
}

#start {
        background-color: #fa6b0b;
}

#my {
        background-color: #faba0b;
}

#search {
        background-color: #64c647;
}

#about {
        background-color: #2f33af;
}

#dev {
        background-color: #7e26b0;
}

#log {
        width: 300px;
}

#log button {
        width: 80px;
        height: 35px;
        margin: 75px 5px 0 5px;
        border-radius: 20px;
        font-size: 14pt;
}

#login {
        background-color: #f5dd6a;
}

#logout {
        background-color: #7ec5ef;
}

#main_page {
        text-align: center;
}

.main_image{ 
        width: 400px;
        height: 400px;
        margin: auto;
        margin-top: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
}

#main_phrase{
        font-size: 25px;
}

.start{ 
        margin-top: 50px;
        background-color: #2f33af;
        width: 100px;
        height: 47px;
        border-radius: 25px;
        font-size: 16pt;
        color: white;
        border: none;
      }