@charset "utf-8";

*{ margin: 0;
  padding: 0;
} 

a{text-decoration: none;}
a:link, a:visited, a:hover, a:active{
                  color: #FFFFFF;
                  font-family: "나눔바른고딕";
                  }

#topMenu {
       width: 100%;
       height: 150px;
       display: flex;
       text-align: center;
}

#topMenu button {
       border: none;
       outline: none;
       color: white;
}

#logo {
       width: 300px;
}

#nav {
       flex: 1;
}

#nav button {
       width: 100px;
       height: 46px;
       margin: 75px 12px 0 12px;
       border-radius: 25px;
       font-size: 12pt;
}

#start {
       background-color: #fa6b0b;
}

#my {
       background-color: #faba0b;
}

#search {
       background-color: #64c647;
}

#about {
       background-color: #2f33af;
}

#dev {
       background-color: #7e26b0;
}

#log {
       width: 300px;
}

#log button {
       width: 80px;
       height: 35px;
       margin: 75px 5px 0 5px;
       border-radius: 20px;
       font-size: 14pt;
}

#login { background-color: #f5dd6a;}

#logout { background-color: #7ec5ef;}
          

#orange{ background-color: #fa6b0b;}
        
#yellow{ background-color: #FABA0B;}

#green{ background-color: #64c647;}

#blue{ background-color: #2F33AF;}

#purple{ background-color: #7E26B0;}

#profile{ width: 1200px;
          height: 290px;
          /* background-color: aquamarine; */
          margin: auto;
        }

#profile_box{ width: 1000px;
              height: 250px;
              background-color: #f5dd6a;
              margin: auto;
              margin-top: 20px;
              border-radius: 10px;
              box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
            }

#profile_photo{ overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 200px;
                border-radius: 10px;
                position: absolute;
                margin: 25px 0 0 25px;
              }

#profile_text{ width: 400px;
               height: 200px;
               /* background-color: royalblue; */
               position: absolute;
               margin: 25px 0 0 260px;
             }

#modify{ width: 70px;
         height: 35px;
         background-color: #FABA0B;
         margin-top: 30px;
         border-radius: 30px;
         border: 0px;
         color: #FFFFFF;
         font-size: 16px;
       }

#name{ font-size: 30px;
       color: white;
       margin-top: 20px;
     }

#id{ font-size: 20px;
     color: white;
     margin-top: 5px;
   }

#email{ font-size: 20px; 
        color: white;
        margin-top: 5px;
      }

#score{ width: 300px;
       height: 200px;
       background-color: #FABA0B;
       border-radius: 20px;
       position: absolute;
       margin: 25px 0 0 675px;
       color: white;
      }

#word{ width: 300px;
       height: 100px;
       font-size: 25px;
       
        }

#sentence{ width: 300px;
           height: 100px;
           font-size: 25px;
        }

#wName{ padding-top: 30px;
        margin-left: 30px;
        position: absolute;
      }

#wScore{ width: 270px; 
         position: absolute;
         padding-top: 25px;
         font-size: 35px;
         text-align: right;
        }

#sName{ padding-top: 30px;
        margin-left: 30px;
        position: absolute;
      }

#sScore{ width: 270px; 
         position: absolute;
         padding-top: 25px;
         font-size: 35px;
         text-align: right;
        }

#select_button{ width: 1200px;
                height: 60px;
                margin: auto;
                /* background-color: khaki; */
                text-align: center;
              }

#word_button{ width: 100px;
              height: 40px;
              margin: 0 50px 0 0;
              background-color: #FABA0B;
              border: none;
              border-radius: 30px;
              font-size: 18px;
              color: white;
              box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
            }

#sentence_button{ width: 100px;
                  height: 40px;
                  background-color: #FABA0B;
                  border: none;
                  border-radius: 30px;
                  font-size: 18px;
                  color: white;
                  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
                }

#total_score{ width: 1200px;
              height: 200px;
              /* background-color: aqua; */
              margin: auto;
              margin-top: 20px;
              text-align: center;
            }

.score_box{ display: inline-block;
            width: 200px;
            height: 200px;
            margin-left: 30px;
            border-radius: 15px;
            box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
            color: #FFFFFF;
            font-size: 28px;
          }

.ck_score{ width: 200px;
           height: auto;
           margin-top: 65px;
         }

.check_scorebtn{ width: 200px;
                 height: 50px;
                 margin-top: 50px;
                 border: none;
                 border-bottom-left-radius: 15px;
                 border-bottom-right-radius: 15px;
                 text-align: center;
                 color: #FFFFFF;
                 font-size: 16px;
               }
        
#btn1{background-color: #F3AB95;}

#btn2{background-color: #F5DD6A;}

#btn3{background-color: #A3E98E;}

#btn4{background-color: #7EC5EF;}

#btn5{background-color: #D293F6;}

/* modal */

#modal_bg{ width: 100%;
           height: 100%;
           display: none;
           position: absolute;
           background-color:rgba(0, 0, 0, 0.5);
           z-index: 1;
         }

#modal{ width: 900px;
        height: 600px;
        left: 50%;
        top: 50%;
        margin: -300px 0 0 -450px;
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 40px;
        z-index: 2;
      }

.modal_title{ width: auto;
              height: 30px;
              margin: 50px 0 0 40px;
              font-size: 25px;
              color: black;
            }

.main_area{ width: 600px;
            height: 450px;
            margin: 30px 0 0 30px;
            background-color: #2F33AF;
            border-radius: 30px;
          }

.text_view{ overflow: auto;
            width: 550px;
            height: 400px;
            margin: 25px 0 0 25px;
            background-color: #2F33AF;
            color: #FFFFFF;
            font-size: 18px;
            resize: none;
            border: none;
            outline: none;
          }
  
.text_view::-webkit-scrollbar { width: 15px;
                                background-color: #A0A2D3;
                              }
  
.text_view::-webkit-scrollbar-thumb { height: 50px;
                                      background-color: #FFFFFF;
                                    }


.submenu_area{ width: 200px;
               height: 450px;
               
               position: absolute;
               margin: 110px 0 0 660px;
             }
  
.delete_btn{ width: 200px;
             height: 70px;
             background-color: #fa6b0b;
             border: none;
             border-radius: 15px;
             color: #FFFFFF;
             font-size: 18px;
             text-align: left;
             padding-left: 20px;
             box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
            }

.score_view{ width: 200px;
             height: 150px;
             margin: 40px 0 40px 0;
             background-color: #D293F6;
             border-radius: 13px;
             color: #FFFFFF;
           }

#md_word{ width: 200px;
          height: 75px;
        }

#mdwName{ width: 200px;
          height: auto;
          position: absolute;
          margin: 25px 0 0 10px ;
          font-size: 20px;
        }

#mdwScore{ width: auto;
           height: auto;
           position: absolute;
           margin: 20px 0 0 120px;
           font-size: 28px;
         }

#md_sentence{ width: 200px;
              height: 75px;
            }

#mdsName{ width: 200px;
          height: auto;
          position: absolute;
          margin: 25px 0 0 10px ;
          font-size: 20px;
        }
    
#mdsScore{ width: auto;
           height: auto;
           position: absolute;
           margin: 20px 0 0 120px;
           font-size: 28px;
          }

.restart_view{ width: 200px;
               height: 150px;
               background-color: #FABA0B;
               border-radius: 20px;
               font-size: 24px;
               color: #FFFFFF;
             }
  
.restart_btn{ width: 20px;
              height: 20px;
              border: none;
            }

.submit_restart{ width: 80px;
                 height: 30px;
                 font-size: 18px;
                 margin: 30px 0 0 60px;
                 color: #FFFFFF;
                 border: none;
                 border-radius: 20px;
                 box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
               }
  

