* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: row;
}

#aside {
    width: 200px;
    height: 100%;
    background-color: royalblue;
}

#content {
    flex: 1;
    height: 100%;
    background-color: salmon;
}