@font-face {
    font-family: apple;
    src: url(../api/public/font/AppleSDGothicNeoL.ttf);
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'apple';
}

.loginFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 325px;
    height: 430px;
    border: solid 2.5px #64c647;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 7.5px 7.5px 7.5px 0 rgba(0, 0, 0, 0.16);
}
    .input {
        width: 100%;
        height: 350px;
        margin-top: 15px;
    }
        input, label {
            display: block;
            margin: 0 auto;
        }

        label {
            padding-top: 15px;
            padding-left: 60px;
            font-size: 18px;
        }

        input {
            width: 210px;
            height: 32.5px;
            border-radius: 10px;
            background-color: #a3e98e;
            border: none;
            padding-left: 10px;
        }

        input:focus {
            outline: none;
        }

    .success {
        width: 100%;
        height: 125px;
    }
        button {
            display: block;
            color: #fff;
            margin: 0 auto;
            outline: none;
            border: none;
            margin-top: 20px;
        }

        .signup {
            width: 60px;
            height: 25px;
            border-radius: 20px;
            background-color: #64c647;
        }