@charset "utf-8";

*{ margin: 0;
   padding: 0;
 }

#orange{ background-color: #fa6b0b;}
   
#yellow{ background-color: #FABA0B;}

#green{ background-color: #64c647;}

#blue{ background-color: #2F33AF;}

#purple{ background-color: #7E26B0;}

 .select_writing_box{ width: 450px;
                      height: 800px;
                      position: absolute;
                      text-align: left;
                      margin-top: 25px;
                      background-color: aquamarine;
                    }

.main_view{ width: 900px;
            height: 800px;
            position: absolute;
            text-align: center;
            margin: 25px 0 0 500px;
            background-color: bisque;
            }

.select_writing{ width: 200px;
                height: 130px;
                border: none;
                border-radius: 13px;
                color: white;
                font-size: 20px;
                margin: 0 0 40px 250px;
                box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
              }

.writing_name{ width: 500px; 
              height: 50px;
              border-radius: 30px;
              text-align: center;
              color: #FFFFFF;  
              }

.writing_in{ width: 700px;
            height: 500px;
            border-radius: 30px;
            }

.test_start_button{ width: 500px;
                    height: 80px;
                    border-radius: 30px;
                  }



.submit_start{ width: 80px;
               height: 30px;
               border-radius: 30px;
               border: none;
               color: #FFFFFF;
               font-size: 16px;
             }

