* {
    margin: 0;
    padding: 0;
    font-family: "AppleSDGothicNeoUL00";
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: red;
}

#sideBar {
    flex-basis: 275px;
    height: 100%;
    text-align: center;
    background-color: white;
}

#content {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: yellowgreen;
}

#answerBox {
    width: 550px;
    height: 350px;
    background-color: tomato;
    text-align: center;
    margin: 0 auto;
}

#answerBox button {
    width: 110px;
    height: 45px;
    margin: 30px 0 0 12.5px;
}

#wordBox {
    width: 650px;
    height: 150px;
    background-color: teal;
    margin: 0 auto;
}

#test1, #test2 {
    display: flex;
    width: 100%;
    height: 75px;
}

#wordBox button {
    width: 110px;
    height: 45px;
    margin: 15px 0 0 12.5px;
}

/* modal */
.modal_wrap{
    display: none;
    width: 800px;
    height: 600px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -300px 0 0 -400px;
    background:#eee;
    z-index: 2;
    text-align: center;
    border-radius: 40px;
    color: white;
}

.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

.modal_close{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}

.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}

#title {
    width: 300px;
    height: 75px;
    margin: 0 auto;
    margin-top: 65px;
    border-radius: 18px;
    background-color: #faba0b;
    line-height: 75px;
    font-size: 28pt;
}

#score {
    font-size: 90pt;
    display: inline-block;
    margin-top: 30px;
    color: #fa6b0b;
}

#answerWrong {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    width: 110px;
    height: 45px;
    border-radius: 15px;
    overflow: hidden;
    background-color: deeppink;
}

#answerWrong div {
    flex: 1;
    line-height: 45px;
    font-size: 16pt;
}

#true {
    background-color: #fa6b0b;
}

#wrong {
    background-color: #64c647;
}

.modal_wrap button {
    width: 115px;
    height: 55px;
    border-radius: 50px;
    margin: 75px 10px 0 10px;
    background-color: #7e26b0;
    color: white;
    font-size: 18pt;
    border: none;
    outline: none;
}