<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="loginPage.js"></script>
        <link rel="stylesheet" href="../css/loginPage.css" type="text/css">
    </head>
    <body>
        <!-- 로그인 틀 -->
        <div id="loginFrame">
            <!-- 로고 아이콘 -->
            <div id="logoIcon">
                <img src="../img/kolangLOGO.png" width="100px">
            </div>

            <!-- input -->
            <form class="input" method = "post" action="">
                <button id="linkToNaver">
                    <img src="../img/naver login.png" width="225px">
                </button>
                <button id="linkToFacebook">
                    <img src="../img/facebookLogin.png" width="225px">
                </button>
                <button id="linkToGoogle">
                    <img src="../img/google login.png" width="225px">
                </button>
            </form>
        </div>
    </body> 
</html>