<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>kolang</title>

  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <script></script>

  </head>
  <body>
    <div id="wrap">
      <div id="topMenu">
        <div id="logo"><img src="/img/logo.png" style="height: 125px; margin-top: 25px; float: right;"></div>
        <div id="nav">
          <button id="start">START</button>
          <button id="my">MY</button>
          <a href="/search"><button id="search">SEARCH</button></a>
          <a href="/about"><button id="about">ABOUT</button></a>
          <a href="/dev"><button id="dev">DEV</button></a>
        </div>
        <div id="log">
          <a href="loginPage.html"><button id="login">login</button></a>
          <button id="logout">logout</button>
        </div>
      </div>
      <div id="main_page">
        <!-- main image -->
        <div class="main_image"></div>
        <!-- start button -->
        <div>
            <a href="startTest.html"><button class="start">start</button></a>
        </div>
      </div> <!-- end of main_page -->
    </div> <!-- end of wrap -->
  </body>
</html>