<!-- views/main.ejs -->

<h1>Main Page</h1>

<% if(!user){ %>
  <a href="auth/login">Login</a>
<% } else { %>
  <p>Welcome <%= user.displayName %></p>
    <a href="auth/logout">Logout</a>
<% } %>

<a href = "https://krdict.korean.go.kr/eng/dicSearch/search?nation=eng&nationCode=6&ParaWordNo=&mainSearchWord=%EC%95%88%EB%85%95">링크이동</a>