<!-- views/main.ejs -->

<h1>Main Page</h1>

<% if(!user){ %>
  <a href="auth/login">Login</a>
<% } else { %>
  <p>Welcome <%= user.displayName %></p>
    <a href="auth/logout">Logout</a>
<% } %>

var searchWord = "<%=search_word%>";

<a href = "https://krdict.korean.go.kr/eng/dicSearch/search?nation=eng&nationCode=6&ParaWordNo=&mainSearchWord=">링크이동</a>